::deep * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.post-container {
    height: 50%;
    width: 65%;
    /*box-shadow: 6px 4px 4px black;*/
    display: block;
    margin: auto;
    margin-top: 5%;
    border-left: thin solid;
    border-right: thin solid;
    /*font-size: large;*/
    /*font-weight: bold;*/
    padding: 1%;
}
.post-title{
    font-size: 30px;
}
.post-date{
    text-align: left;
    font-size: smaller;
    padding-bottom: 10px;
    display: inline;
}
.post-author {
    display: inline;
    font-size: smaller;
    padding-right: 10px;
}
.post-text{
    margin: 10px;
}
.post-bar {
    list-style: none;
    border-bottom: thin solid;
    padding: 0;
}
.text-box {
    width: 100%;
    display: block;
}
::deep .reply-box {
    width: 100%;
    max-width: 100%;
/*    margin: 5px, 5px, 10px, 5px;*/
    /*display: flex;*/
    padding: 5px;
    /*padding-top: -50px;*/
    margin-top: -15px;
}
.reply-label{
    font-size: 22px;
    margin-top: 50px;
}
.reply-list{
    list-style: none;
    margin-top: 50px;
    justify-content: center;
}
.reply {
    border-top: thin solid;
    font-size: medium;
    font-weight: normal;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.reply-author, .reply-date {
    font-size: smaller;
    text-align: right;
}
.reply-text{
    padding-top: 10px;
}
